
/******************************************************************************/
/* GLOBAL SETTINGS */
body {
    font: sans-serif;
    color: black;
}
h1 {
    font: 20px, helvetica san-serif;
    position: relative;
    left: 80px;
}
.down {
    position: relative;
    top: 30px;

}
.hero-bottom-bar {
    background: #fafafa;
    padding: 20px 0 20px;

}


img.bg {
    min-width:1024;
    height: auto;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
}

.hero-text {
    position: relative;
    top: 250px;
    left: 100px;
    font:  bold 45px helvetica sans-serif;
    color: #FFFFFF;

}
.below {
    position: relative;
    top: 310px;
    left: 100px;
    font:   28px helvetica sans-serif;
    color: #FFFFFF;

}
#logo {
    position: relative;
    top: 20px;
    left: 550px;
    height: auto;
}

.top-bar {
    background: #222;
    width: 100%;
    position: relative;
    zoom: 1;
    z-index: 9000;
    padding: 20px 0 20px;
}

.image {
    position: relative;
    width: 400px;
    left: 80px;



}
.tex {
    position: absolute;
    width: 500px;
    top: 100px;
    left: 400px;
    font: bold 20px helvetica sans-serif;
    background-color: rgba(0,0,0,0.2);
    padding: 20px;


}

.tcenter {
    position: relative;
    top:100px;
    background: #fafafa;
    padding: 20px;
    font: bold 18px helvetica sans-serif;
}